<article>
  <header>
    <h2>Info</h2>
    <button class="back">Back</button>
  </header>
  <div id="about">
    <p>
      This application is a re-write of the <a href="https://github.com/benschwarz/currency.io">currency.io</a> web application.  It was written to demonstrate the Gbone.js framework.
    </p>
    <p>
      Best viewed on iOS5.
    </p>
  </div>
</article>